body {
    background-color: #1F1D1D;
    font-family: 'Lato', sans-serif;
    color: #FAFAFA;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 2.5em;
    margin: -.5em;
    margin-bottom: .5em;
    justify-content: space-between;
    align-items: flex-end;
    color: #FAFAFA;
    background-color: #0A0A0A;
}

.match-table {
    width: 75vw;
    margin: 12vh 20vw;
    padding: 10px;
    background-color: #0A0A0A;
    border-radius: 3em;
}

.title {
    font-size: 2em;
    text-decoration: none;
    color: #FFF;
    font-family: 'Vollkorn SC', serif;
    flex-grow: .1;
}

.title:hover {
    background-color: #6ABED8;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    flex-grow: 1;
}

.nav-link-container {
    border-radius: 5px;
}

.nav-link-container :hover {
    background-color: #8C8F96;
    transition: all .8s;
}

.nav-link-container a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.3em;
    padding: .7em .5em 0;
    margin: 0;
}

.match-container {
    width: 70vw;
    margin: 15px auto;
    padding: 20px;
    background-color: #1F1D1D;
    border-radius: 10px;
}

.match-container-game {
    display: flex;
    justify-content: space-between;
}

.match-container div {
    font-family: arial;
    color: #FFF;
}

.team {
    display: flex;
}

.logo {
    height: 100px;
    width: 100px;
    padding-right: 15px;
    border-right: 3px solid #FFF;
    margin: auto;
}

.pool-display {
    margin: 2vh 2vw;
    width: 10vw;
    padding: .5em 1em;
    text-align: center;
    color: #F3EDED;
    background-color: #8C8F96;
    border-radius: .2em;
}

.pool-display div {
    margin: .2em;
}

.view-pool {
    width: 8em;
    height: 1.5em;
    margin: .25em;
    border-radius: .2em;
    color: #F3EDED;
    background-color: rgba(33, 198, 0, 0.74);
    border: none;
}

.view-pool:active {
    background-color: rgba(33, 198, 0, 0.74);
}

.submit-bet-button {
    width: 125px;
    background-color: rgba(33, 198, 0, 0.74);
    border: none;
    margin-left: 30vw;
    color: #FFF;
}

.submit-bet-button:hover {
    background-color: #FFF;
    color: #6ABED8;
    transition: all .5s;
}

.match-date {
    display: flex;
}

.wager-details {
    display: flex;
}

.wager-details-title {
    margin: 0 10px;
}

.team {
    padding: 2px;
    background-color: #8C8F96;
    border-radius: 10px;
    box-sizing: border-box;
}

.sidebar {
    width: 8vw;
    position: fixed;
    top: 2.8em;
    height: 100vh;
    padding: .2em;
    border-radius: .3em;
    background-color: #0A0A0A;
}

.sidelink:hover {
    background-color: #8C8F96;
    transition: all .2s;
}

.sidelink a {
    text-decoration: none;
    color: #FAFAFA;
    font-size: 1.3em;
}

.main-flex {
    display: flex;
}

.user-profile-container {
    margin: 8vh 10vw;
}
 .title-user-profile {
     margin: .3em 0;

    color: #FAFAFA;
    font-size: 1.5em;
 }

 .active-bets-container {
     width: 20vw;
     background-color: #0A0A0A;
     padding: 1em;
 }

.users-active-stuff {
    width: 75vw;
    margin: 4vh 0vw;
    padding: 1em;
    display: flex;
}

.users-active-stuff * {
    border-radius: .3em;
}

.test {
    width: 20vw;

}

.bet {
    display: flex;
    font-size: .5em;
}

.bet > div{
    margin: 1.5em .2em;
    background-color: #8C8F96;
    color: #F3EDED;
    width: 12vw;
    padding: .3em;
}
.game-details {
    text-align: center;
    font-size: 1.8em;
}

.bet-user-info {
    text-align: center;
}

.time {
    margin-top: 1.5vh;
    text-align: center;
    font-size: 1.6em;
}

.active-bets-title {
    font-size: 1.2em;
    padding: .5em;
    text-align: center;
}

.active-pools-container {
    width: 52vw;
    margin: 0 2vw;
    background-color: #0A0A0A;
    padding: .5em;
}

.active-pools2x2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-info-container {
    background-color: #0A0A0A;
    width: 38vw;
    height: 45vh;
    padding: .5em;
    border-radius: .3em;
}

.profile-info-details {
    width: 19vw;
    margin: 2vh 0;
    font-size: 1em;
}

.profile-info-details div {
    margin: .8em;
}

.edit-button {
    width: 5vw;
    height: 4vh;
    margin: 0 1vw;
    border: none;
    background-color: rgba(33, 198, 0, 0.74);
    color: #F3EDED;
    border-radius: .3em;
}

.test {
     width: 19vw;
     margin-left: .5vw;
 }

form {
     margin: 2vh 0;
 }

form input {
     width: 90%;
 }

 .submit-update-button {
    width: 5vw;
    height: 4vh;
    background-color: rgba(33, 198, 0, 0.74);
    border: none;
    color: #F3EDED;
    border-radius: .3em;
    margin: 2vh 0;
 }

select {
    margin: 3vh 1vw;
}
 .create-pool-submit {
    width: 10vw; 
    height: 5vh; 
    margin: 2vh;
    color: #F3EDED;
    background-color: rgba(33, 198, 0, 0.74);
    border: none;
 }

 button {
     color: #F3EDED;
     background-color: rgba(33, 198, 0, 0.74);
 }

 button:active {
     background-color: rgba(10, 144, 0, 0.79);
 }

 button:hover {
    border: .5px solid white;
    transition: .05s
 }