body {
    background-color: #2A2A26;
}

header {
    display: flex;
    width: 99vw;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFF;
    background-color: #1F1D1D;
    border-radius: 10px;
}

.title {
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-grow: 2;
}

.nav-link-container a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin: 0 10px;
}

.match-container {
    width: 80vw;
    margin: 10px 10vw;
    padding: 20px;
    background-color: #1F1D1D;
    border-radius: 10px;

}

.match-container-game {
    display: flex;
    justify-content: space-between;
}

.match-container div {
    font-family: arial;
    color: #FFF;
}

.team {
    display: flex;
}

.logo {
    height: 350px;
    width: 350px;
    border-bottom: 3px solid white;
    margin: auto;
}

.pool-display {
    width: 25vw;
    padding: 20px;
    align-content: center;
    background-color: #1F1D1D;
    border-radius: 40px;
}

.join-pool {
    width: 150px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    color: #FFF;
    background-color: #6ABED8;
    font-size: 20px;
    border: none;
}

.submit-bet-button {
    width: 125px;
    background-color: #6ABED8;
    border: none;
    color: #FFF;
    margin: 0 501px;
}