body {
    background-color: #2D2D2D;
}

header {
    display: flex;
    width: 99vw;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
    color: #FFF;
    background-color: #000000;
    border-radius: 10px;
}

.match-table {
    width: 75vw;
    margin: 0 20vw 0;
    padding: 10px;
    background-color: #000;
    border-radius: 40px;
}

.title {
    flex-grow: 1;
}

.navbar {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    flex-grow: 2;
}

.nav-link-container a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin: 0 10px;
}

.match-container {
    width: 70vw;
    margin: 15px auto;
    padding: 20px;
    background-color: #1F1D1D;
    border-radius: 10px;
    /*10px 0vw;*/
}

.match-container-game {
    display: flex;
    justify-content: space-between;
}

.match-container div {
    font-family: arial;
    color: #FFF;
}

.team {
    display: flex;
}

.logo {
    height: 350px;
    width: 350px;
    border-bottom: 3px solid white;
    margin: auto;
}

.pool-display {
    width: 25vw;
    padding: 20px;
    align-content: center;
    background-color: #1F1D1D;
    border-radius: 40px;
}

.join-pool {
    width: 150px;
    height: 40px;
    margin: 5px;
    border-radius: 10px;
    color: #FFF;
    background-color: #6ABED8;
    font-size: 20px;
    border: none;
}

.submit-bet-button {
    width: 125px;
    background-color: #6ABED8;
    border: none;
    margin-left: 30vw;
    color: #FFF;
}

.match-date {
    display: flex;
}

.wager-details {
    display: flex;
}

.wager-details-title {
    margin: 0 10px;
}

label {
    box-sizing: border-box;
    width: 20em;
    height: 3em;
}

label:hover {
    background-color: #6ABED8;
}

label div {
    margin: auto;
}

.team {
    padding: 2px;
    background-color: #ABABAB;
    border-radius: 10px;
    box-sizing: border-box;
}

/*575757